---
title: Home
---
<div class="jumbotron">
 <h1>Gestohlene Räume<br /> <span class="small" style="font-weight:100">Installation/ Performance/ Urban Art</span></h1><br /><br />
<p>Veranstalter: Kollektiv InstantFaktor, Zürich<br /><br />
Das Konzept ‚Gestohlene Räume‘ befasst sich mit dem kulturellen Potenzial des öffentlichen Raumes ‚Stadionbrache‘.<br /><br />
Wem gehört Boden? Welche Bedingungen setzen öffentliche und auch imaginäre (Bedeutungs-) Räume und wie lassen sie sich nutzen? Wie lässt sich die kulturelle Identität eines Raumes künstlerisch umdeuten und (neu) bese(i)tzen?<br /><br />
Das Kollektiv InstantFaktor und die von ihm kuratierten Kunstschaffenden wollen ausforschen, welches Potenzial in der In-Besitznahme eines in der Stadt Zürich einzigartigen Ortes liegt: Das ehemalige Fussballstadion Hardturm dient noch immer als Ort kollektiver Erinnerung an grosse Sportereignisse und als Projektionsfläche der Hoffnung auf ein neues Stadion. Nachdem der ehemalige Trainingsrasen seit 2011 auf vielfältige Weise als Urban Gardening- und Freizeitareal umgenutzt und damit auch kulturell neu besetzt wurde,  schliesst Instant Faktor mit dem Konzept der Gestohlenen Räume hier an. Der meist brachliegende und bisher weitgehend ungenutzte Hartplatz in der Mitte der ehemaligen Stadiontribüne dient als Zentrum einer (Neu-)Besetzung mit künstlerischen Mitteln, die sich bis in den grünen Teil der Stadionbrache hinein ausbreitet. Das ehemalige Stadion wird so zum Möglichkeitsraum, der temporär besitzen und  kulturell einnehmen lässt: eine Landnahme, ein Raum und Boden für die Kunst.<br /><br />
Der Ort wirft Fragen auf, die mit ganz unterschiedlichen künstlerischen Mitteln von den Teilnehmenden bearbeitet werden. Themen des Ortes Stadionbrache mit umgenutzter Grünfläche, bestehender Vergangenheit und unsicherer Zukunft werden von den 15 teilnehmenden Kunstschaffenden aufgegriffen, transformiert und am Ort direkt und interaktiv mit Ort und Publikum umgesetzt. Die Installationen arbeiten mit den Methoden der ,active spectatorship’ und der Partizipation.  Das Publikum eignet sich den Raum gehend an und ist eingeladen, bei einzelnen Installationen gestalterisch teilzunehmen oder mitzudiskutieren. Das Kunst im öffentlichen Raum-Projekt Café des Visions sammelt diese Eindrücke der Fesitvalbesucher und macht sie sichtbar in Form eines Manifests zu kulturellen Feiräume im öffentlichen Raum.<br /><br />
Wichtig war uns in der Auswahl der teilnehmenden Projekte eben genau diese Auseinandersetzung mit den verschiedenen Gegebenheiten des Ortes. So fragt das Kunstduo Last mit ihrer Installation ‚leftovers 5‘ (siehe Anhang) nach der zukünftigen Nutzbarkeit des Ortes Stadionbrache und eröffnet eine politische Fragestellung auf den Umgang mit Bodenbesitz und  Bauspekulation.  Der Zeichner Thomas Hannibal bespielt mit seinen Zeichnungen für Vögel die Grünfläche und greift damit subtil die Beziehung von Mensch, Stadtnatur und Kunst auf. und die Spaziergangswissenschaftlerin Marie-Anne Lerjen beschäftigt sich mit Fragen der Bodenreform und bezieht sich damit auf eine Geschichte vor der Nutzung des Geländes als Fussballrefugium. Nebst dem Bal Sauvage mit ‚Le Chat qui Danse‘ stehen wir mit weiteren Musikern in Kontakt, um unser Festival akustisch zu bespielen. Explizit wurden Projekte ausgewählt, welche diese Auseinandersetzung mit dem Ort Stadionbrache leisten.<br /><br />
Die ‚Gestohlenen Räume‘ sind damit ein Festival, welches nicht an einem Ort stattfindet, sondern eines, welches aus einem Ort heraus und mit den Gegebenheiten eines nicht nur formal speziellen, sondern auch inhaltlich stark aufgeladenen Ort funktioniert und arbeitet.<br /><br />
Die Konzeption des Festivals ist transdisziplinär, interaktiv und raum- und ortsspezifisch angelegt, was sich nicht nur in der Zusammensetzung des organisierenden Künstlerinnenteams, sondern auch in der Auswahl von Kunstschaffenden aus ganz diversen Sparten wiederspiegelt.
</p>

</div>



