---
title: Übersichtsplan
tags: bar
---

<h3 style="display:none">InstantFaktor - Transdisziplinäres Kunstprojekt ‘Gestohlene Räume’ vom 16. bis 24. August 2014 auf der Stadionbrache Hardturm Zürich.</h3>

<h1 style="color:#fff">Übersichtsskizze "Gestohlene Räume"</h1>
<p style="color:#fff">Stand 1.Juni 2014
</p><img class="img-responsive" src="assets/img/uebersicht.jpg" />