---
title: Kontakt
tags: bar
---

<style>

body {
	color:#fff
}

h1 {
	margin-top:100px;
	font-weight:100
}

</style>

<h1 style="margin-top:40px">Ort &amp; Anfahrt:</h1>
<address>
  <strong>Stadionbrache Hardturm Zürich</strong><br>
  <strong>Eingang:</strong> gegenüber Förrlibuckstrasse 236 <br>
  <strong>ÖV:</strong> Tram 4 bis Sportweg, Tram 17 bis Hardturm
</address>


<h1>Öffnungszeiten:</h1>
<address><strong>täglich 16-22 Uhr<br></strong>
	freie Besichtigung und Zugang rund um die Uhr
</address>


<h1>Kontakt Veranstalter:</h1>

<address>
<a href="mailto:kontakt@instantfaktor.ch">kontakt@instantfaktor.ch</a><br>
<strong>Markus Urbscheit</strong>, Projektleitung, 079 479 63 77<br>
<strong>Suvi Westerberg</strong>, 076 496 19 66<br>
</address>

<h1>Stadionbrache Harturm Zürich:</h1>
<a href="http://www.stadionbrache.ch" target="_blank">www.stadionbrache.ch</a>