<div class="container-fluid footer">

<div class="row"><div class="col-sm-12">	<p class="text-center small" style="color:#999" >Sponsors</p>
	<hr style="margin-bottom:20px">
	<br /><br />
<p class="text-center">
<img src="assets/img/brache.png" width="120" style="margin-right:80px"/>

<img src="assets/img/migros_sm.jpg" width="150" style="margin-right:80px"/>
<img src="assets/img/kanton_sm.jpg" width="180"/>
</p></div></div>

</div>